<body class="background-auth">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 boarder-box container-spacing">
        <h2 class="text-center">Log In!</h2>
        <br>
        <br>

        <form action="/login" method="POST">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Master Chief">
          </div>
          <br>

          <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          
          <% if (typeof message != "undefined") { %>
            <div class="form-group">
              <p class="help-block error-message text-center"><%= message %></p>
            </div>
          <% } %>
          <br>

          <button type="submit" class="btn btn-default" value="Log In">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>