<div class="container moreSpace">
  <div class="row">
    <% list.forEach((game) => { %>
      <% if(game.cover){%>
        <div class="col-lg-6 game-search-spacing">
          <a href="/"><img src="<%= game.cover.url %>"></a>
          <h4 class="game-name"><a href="/games/<%= game.id %>"><%= game.name %></a></h4>
        </div>
      <% } %>
    <% }); %>
  </div>
</div>