<div>
  <nav>
    <ul>
      <li><a href="/signup">Sign Up!</a></li>
      <li><a href="/loging">Login In!</a></li>
      <li><a href="/logout">Log Out!</a></li>
    </ul>
  </nav>
</div>

<div>
  <h1>Search Games!</h1>
  <form action="">
    <input id="search" type="text" name="search" placeholder="Stardew Valley">
  </form>
</div>

<div>
  <!-- Games Should display -->
</div>