<div class="search-background">
  <div class="container">
    <h1 class="text-center color-text-white">Search Games!</h1>
    <form action="/games/search" method="POST">
      <div class="form-group col-lg-6 col-lg-offset-3">
        <input type="text" class="form-control" name="search" placeholder="Stardew Valley">
      </div>
      <button type="submit" class="btn btn-default" value="Search">Search</button>
    </form>
  </div>
</div>

<div class="container moreSpaceBottom moreSpace">
  <div class="row">

    <div class="col-lg-4">
      <h2 class="text-center">About</h2>
      <p class="text-center">I made Game Vault for My Second Project at IronHack! We Had to Create a CRUD app, So I decided why not Make a Database for me and My Classmates to Store our Games from our First Project! But that would of been to basic so I also decided to implement a API for more games then just ours!</p>
    </div>

    <div class="col-lg-4">
      <h1 class="text-center">Find</h1>
      <p class="text-center">Game Vault Allows you to access a huge Database of Video Games! Even lets you add your Own Games you Created! You can find all the shared games <a class="a-link" href="/list">here!</a></p>
    </div>

    <div class="col-lg-4">
      <h2 class="text-center">Create</h2>
      <p class="text-center">Adding your game to the User Game Database is as easy as Logging In and Clicking <a class="a-link" href="/user-page">Add Game!</a> Don't Worry if you make a mistake you can always edit or delete your post!</p>
    </div>

  </div>
</div>